body {
    background-color: black;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

#movieList {
    max-width: 200px;
    padding: 20px;
}

#movieDetails {
    max-width: 600px;
    padding: 20px;
}